
<div class="row">
  <div class="col-4 border border-dark" style="background-color: rgb(179, 213, 226);
    background-image: url('../assets/images/1.png');">
    <div class="container">
      <div class="d-flex flex-column bd-highlight mb-3">
        <br>
        <div class="p-2 text-center" >
          <img src="../assets/images/edited.jpg" style="width: 50%; height:50%;border-radius: 50%;">
        </div>
        <br>
        <div class="h3 p-2 text-center">
          <div class="typewriter">
            KARTHICK RAVIKUMAR
          </div>
          
        </div>
        <div class="text-primary text-center" style="font-size: 13px;">
          FRONT END WEB DEVELOPER
        </div>
        
        <div class="p-2 text-center">
            <a class="btn btn-lg btn-secondary rounded shadow-none text-center" 
            href="mailto:karthickravikumar1996@gmail.com" style="width: 150px;">Message Me</a>
        </div>
        <div class="p-2 text-center" style="font-size: 13px;">
          Desires employment with L&T Technology Services as a Front-end Developer. 
          Versed in the production of high quality solutions for the company’s clients; 
          bringing broad understanding of Angular, React, HTML, JavaScript, CSS, and software development, 
          plus a very strong ability to execute and standard software architectural patterns.
        </div><br>
        <div style="font-weight: 700;">
          SKILLS
          <p style="font-weight:50 ;"> Programming Languages, Libraries and Tools...</p>
          <div class="border border-dark mb-3 p-4"
          style="font-weight: 500; border-radius:10px; background-color:rgb(213, 235, 243);">
          <div class="row">
            <div class="h5 col-sm text-center">
              <img src="../assets/images/js.png" style="height:50px ;width:50px;"><br>
              JavaScript
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/react.png" style="height:50px ;width:50px;"><br>
              React
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/angular.png" style="height:50px ;width:50px;"><br>
              Angular
            </div>
          </div><br>
          <div class="row">
            <div class="h5 col-sm text-center">
              <img src="../assets/images/ruby.png" style="height:50px ;width:50px;"><br>
              Ruby
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/RoR.png" style="height:50px ;width:50px;"><br>
              Ruby on Rails
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/vscode.svg" style="height:50px ;width:50px;"><br>
              VS Code
            </div>
          </div><br>
          <div class="row">
            <div class="h5 col-sm text-center">
              <img src="../assets/images/html.png" style="height:50px ;width:50px;"><br>
              HTML
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/css.png" style="height:50px ;width:50px;"><br>
              CSS
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/Bootstrap.svg" style="height:50px ;width:50px;"><br>
              BootStrap
            </div>
            </div><br>
            <div class="row">
            <div class="h5 col-sm text-center">
              <img src="../assets/images/linux.png" style="height:50px ;width:50px;"><br>
              Linux
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/azure.png" style="height:50px ;width:50px;"><br>
              Azure
            </div>
            <div class="h5 col-sm text-center">
              <img src="../assets/images/git.png" style="height:50px ;width:50px;"><br>
              Git
            </div>
          </div>
          </div>
          
        </div>
        
        <br>
        <div class="footer-basic">
          <footer class="text-center">
              <a href="https://www.instagram.com/imsrk_29"><i class="fa-brands fa-instagram-square fa-2x p-2"></i></a>&#160;&#160;
              <a href="https://in.linkedin.com/in/imkarthickravikumar"><i class="fa-brands fa-linkedin fa-2x p-2"></i></a>&#160;&#160;
              <a href="https://github.com/karthickrav29"><i class="fa-brands fa-github fa-2x p-2"></i></a>&#160;&#160;
              <a href="https://twitter.com/karthickvinoth0"><i class="fa-brands fa-twitter fa-2x p-2"></i></a>&#160;&#160;
              <a href="https://www.facebook.com/imsrk29"><i class="fa-brands fa-facebook fa-2x p-2"></i></a>
          </footer>
      </div>
      </div>
    </div>
  </div>
  <div class="col-8 border border-dark"
  style="background-color: aliceblue;">

      <!-- <div class="d-flex flex-column mb-3 p-2" style="font-weight: 700;"> -->
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5 shadow-sm p-3 border rounded">
              <div class="flex-grow-1">
                <h3 class="mb-0"> Software Developer</h3>
                <div class="subheading mb-3">Aximsoft India Pvt. Ltd</div>
                <p>
                  Hands on experience in ReactJS, HTML, CSS and BootStrap. Developed an responsive
                  job portal for the US based client 'Talentral'.
                </p>
              </div>
              <div class="flex-shrink-0">
                <span class="text-primary">Mar 2020 - Jun 2021</span>
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5 shadow-sm p-3 border rounded">
              <div class="flex-grow-1">
                <h3 class="mb-0">Front End Web Developer</h3>
                <div class="subheading mb-3">
                  L&T Technology Services 
                </div>
                <p>
                  Worked as a Front end developer, making amazing user
                  experiences with responsive web applications. Hands on 
                  experience on Angular, BootStrap, HTML, CSS and TypeScript.
                </p>
              </div>
              <div class="flex-shrink-0">
                <span class="text-primary">Jan 2022 - Till Date</span>
              </div>
            </div>
          <!-- </div> -->
          <h2 class="mb-5">Education</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5 shadow-sm p-3 border rounded">
            <div class="flex-grow-1">
              <h3 class="mb-0">Bacholer of Engineering - EEE </h3>
              <div class="subheading mb-3">SNS College of Engineering</div>
              <div>Anna University - Chennai</div>
              <p>6.9 CGPA</p>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">August 2013 - June 2017</span>
            </div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5 shadow-sm p-3 border rounded">
            <div class="flex-grow-1">
              <h3 class="mb-0">H.S.E</h3>
              <div class="subheading mb-3">
                Tagore Matric Hr Sec School
              </div>
              
              <p>85.55%</p>
            </div>
            <div class="flex-shrink-0">
              <span class="text-primary">June 2012 - March 2013</span>
            </div>
          </div>

          
              <h2 class="mb-5">Personal Projects</h2>
              <div class="my-5">
                <ul class="mb-0 list-group shadow-sm">
              
                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                      <i class="fa-solid fa-chart-column text-info"></i>
                       &#160; Register and Login Dashboard - Created using Angular with
                       the help of HTML and CSS.
                    </div>
                    <div>
                      <a href="https://github.com/karthickrav29/aero" target="_blank">GitHub</a>
                    </div>
                    
                  </li>
                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                      <i class="fa-solid fa-chart-column text-info"></i>
                      &#160; Infly HealthApp - A simple web application shows the datas about
                      the flights.
                    </div>
                    <div>
                      <a href="https://github.com/karthickrav29/inflyhealthapp" target="_blank">GitHub</a>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                      <i class="fa-solid fa-chart-column text-info"></i>
                       &#160; Register and Login Dashboard - Created using Angular with
                       the help of HTML and CSS <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and connected with SpringBoot & MySQL.
                    </div>
                    <div>
                      <a href="https://github.com/karthickrav29/admin-login" target="_blank">GitHub</a>
                    </div>
                    
                  </li>

                </ul>
              </div>
  </div>

</div>







